.tylersclass {
  background: #cccccc;
}
body {
  background: url(/img/ninja.png) no-repeat 100% 100%;
  margin-bottom: 35px;
  min-height: 700px;
}
.sadface span {
  font-size: 100px;
  -webkit-transform: rotate(450deg);
  display: block;
  width: 100px;
  height: 100px;
  margin: 0;
  padding: 0;
  text-align: center;
  margin-left: 440px;
  -webkit-transform: rotate(90deg);
}
.sadface:hover span {
  -webkit-transition-duration: 0.8s;
  -webkit-transform: rotate(450deg);
}
.theinput {
  border-radius: 5px;
  height: 30px;
  margin: 10px auto 0;
  display: block;
  width: 250px;
  color: #94c643;
  text-align: center;
}
footer {
  position: fixed;
  bottom: 0;
  height: 20px;
  background: #222222;
  color: #94c643;
  text-align: center;
  width: 100%;
  border-top: 1px solid #bae772;
  font-size: 9px;
  padding-top: 5px;
}
footer a {
  color: #94c643;
}
.centerthis {
  text-align: center;
}
h1.asearch {
  color: #5ACE63;
  margin: -5px 0 10px 0;
}
h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  display: inline-block;
}
h4 {
  margin-top: 0px;
  margin-bottom: 0px;
  display: inline;
  margin-right: 7px;
  font-size: 15px;
}
.right {
  text-align: right;
  padding-top: 13px;
}
.right small {
  font-size: 8px;
  font-style: italic;
}
.tooltip-inner {
  font-size: 18px;
}
