doctype 5
html(lang="en")
	head
		link(rel="stylesheet",href="css/bootstrap.css")
		link(rel="stylesheet", href="css/main.css")
	body
		.container
			h1(class="title") #{title}
			hr
			p Sorry, what you are looking for doesn't appear to exist.

			p.sadface
				span :(
		