extends layout

block body	
	nav.navbar.navbar-inverse(role="navigation")
		a.navbar-brand(href="#") Ninja-Three
		input.theinput(ng-model="minOut", placeholder="Diameter in Kilometers")

	div.container
		div(ng-view)
		
	footer
		a(href="#") By Tyler Maynard

	//Grab the Javascripts
	script(src="js/lib/jquery.min.js")
	script(src="js/lib/angular.min.js")
	script(src="js/lib/angular.touch.js")
	script(src="js/lib/bootstrap.min.js")
	script(src="app/app.js")
	script(src="app/controllers.js")
	script(src="app/directives.js")
	script(src="js/main.js")